@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.certificateList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    font-family: 'Roboto', sans-serif; /* Using Roboto font */
    border-radius: 8px;
}

.certPreview {
    display: flex;
    align-items: center; /* Align image and description vertically */
    gap: 20px; /* Space between image and description */
    border: 1px solid #ddd; /* Subtle border */
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    max-width: 600px; /* Adjust based on your layout */
}

.certPreview img {
    width: 120px; /* Fixed width for images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 6px; /* Slightly rounded corners for the image */
}

.cdesc {
    text-align: left;
    flex-grow: 1; /* Allow description to take up remaining space */
}

.cdesc h2 {
    color: #333;
    font-size: 0.8em;
    font-weight: bold;
}

.cdesc > div {
    color: #666;
    font-size: 0.7em;
    font-weight: bold;
}

.cdesc p {
    color: #444;
    font-size: 0.6em;
    line-height: 1.4;
}
