html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Common Styles */
.App-link {
    color: #61dafb;
}

.linkedin, .github, .cv {
    color: #333;
}


.aboutMe h2, .sectionTitle {
    font-weight: 700;
}

.nav-links a:hover, .nav-links a:focus {
    border-color: #192029; /* Change border color on hover */
}

.certPreview, .jobList, .projectList, .projectPreview, .jobPreview {
    border-bottom: 1px solid #eaeaea;
}

.jobTitle h2, .projectTitle h2, .jobDate h3, .projectDate h3, .jobTitle h3, .projectTitle h3 {
    color: #666;
}


/* Light Mode Styles */
#light {
    background-color: white;
}

#light .App-header, #light .home_content, #light .jobList, #light .projectList {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#light .certPreview h2{
    color:black
}
#dark .certPreview h2 {
    color:white
}
#light .certPreview h3{
    color:black;
}
#dark .certPreview h3{
    color: white;
}


#light .nav-links a {
    color: #333; /* Initial text color */
    background-color: #f8f8f8; /* Light background color */
}

#light .nav-links a:hover, #light .nav-links a:focus {
    background-color: #000000; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

/* Dark Mode Styles */
#dark {
    background-color: black;
}

#dark .App-header, #dark .home_content, #dark .certPreview, #dark .jobList, #dark .projectList {
    background-color: #222222;
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#dark .nav-links a {
    color: #f8f8f8; /* Initial text color */
    background-color: #333; /* Dark background color */
}

#dark .nav-links a:hover, #dark .nav-links a:focus {
    background-color: #fff; /* Change background color on hover */
    color: #192029; /* Change text color on hover */
}

h1, h2, h3, h4{ 
    color: #4846d0;
}


#light .contact a , .description{
    color: #192029;
}
#light .contact a:hover{
    color: #007bff;
}
#light .description {
    color:black;
}

#dark .contact a, .description{
    color:white;
}
#dark .contact a:hover{
    color: #007bff;
}




/* Common Styles */
/* ... (keep other common styles as they are) ... */

/* Specific Styles for .home_content */
.home_content {
    flex-basis: 75%;
    padding: 20px;
    /* Other layout-related styles for .home_content, if any */
}

/* Light Mode Styles */
#light .home_content {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Dark Mode Styles */
#dark .home_content {
    background-color: #222222;
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#light .table_of_contents {
    background: #fff;
    box-shadow: 0 0 10px rgba(28, 23, 23, 0.1);
}
#dark .table_of_contents {
    background: #222222;
}

.parent {
    /* Common styles for the parent element */
}

/* Light Mode Styles */
#light .parent {
    background-color: #f0f0f0; /* Light theme background color */
}

#light .home_content {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* Other styles for home_content */
}

/* Dark Mode Styles */
#dark .parent {
    background-color: #1a1a1a; /* Dark theme background color */
}

#dark .home_content {
    background-color: #222222;
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    /* Other styles for home_content */
}

#light.homeSite{
    background-color:white;
}
#dark.homeSite{
    background-color:white;
}

#light .setMode {
    color: black;
}

#dark .setMode {
    color: white;
}