/* navbar.css */
body{
    padding:30px
}
/* Base styling */
.navbar {
    position: fixed; /* Fixed positioning relative to the viewport */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%; /* Span the full width of the viewport */
    background-color: #ffffff; /* Give the navbar a background color */
    z-index: 1000; /* Ensures the navbar is above other content */
    padding: 20px 0px;
    transition: background-color 0.3s; /* Smooth transition for background color change */
    background-color: transparent; /* Initial background color */
}

.navbar.scrolled {
    background-color: rgb(0,0,0,0.8); /* New background color after scrolling */
}
.navbar.scrolled .nav-links a{
    color:white
}

.homeSite {
    margin: 20px 0;
}


/* Navbar styles */

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0; /* Remove gap between links */
    width: 100vw;
    height:auto;
}

.nav-links a{
    color:black;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    padding: 20px 25px;
    flex-grow: 1; /* Grow to fill the available horizontal space */
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid transparent; /* Adds border */
    position: relative; /* Needed for pseudo-element positioning */
    overflow: hidden; /* Ensures pseudo-element doesn't overflow */
}
.navbar .setMode {
    text-decoration: bold;
    margin-left: 20px
}

.light-switch{
    display:flex;
    margin-left:auto
}